extends layout

block content
  h1= title
  <br>
    - var image_names=["nat.jpg","nat1.jpg","nat2.jpg","nat3.jpg","nat4.jpg"]
    - for(let i=0;i<3;i++){
     - let random= Math.floor(Math.random()*5)
     img(src=`/images/${image_names[random]}` alt=`Image No ${random}` height="300px" width="300px")
    - }